<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key ="connection" value="Data Source=DESKTOP-6OTTT6R\SINHASQL;initial catalog=BloodBank;Integrated Security=True;MultipleActiveResultSets=True;"/>
    </appSettings>
</configuration>